.intro-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

.intro-modal {
  border: 1px solid rgb(204, 204, 204);
  background: #FFF;
  background-size: cover;
  overflow: visible;
  border-radius: 4px;
  outline: none;
  padding: 0px 20px 20px 20px;
  max-width: 640px;
  min-height: 400px;
  font-family: "Muli", sans-serif;
  position: relative;
}

.intro-modal .modal-desc {
  font-size: 16px;
  line-height: 0px;
}

.intro-modal h1 {
  font-weight: 200;
  margin-top: 0px;
  line-height: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding:20px 20px 20px 200px;
  margin: 0px -20px;
  background: #F5F5F5;
  text-align: right;
}

.intro-modal h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 24px;
  font-size: 24px;
}

.intro-modal p {
  margin-top: 5px;
}

.intro-modal .avatar-box {
  position: absolute;
  bottom: 0;
  right: 25px;
  overflow: hidden;
}

.intro-modal .avatar-box img {
  transform: translateY(50%) translateY(-29px);
}

.modal-blur {
  filter: blur(13px);
}

.intro-logo {
    position: absolute;
    top: -225px;
    width: 500px;
    left: -230px;
}

.intro-dismiss {
    position: absolute;
    right: 0;
    top: -40px;
}