.App {
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
  font-family: "Muli", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #488AC7 url('crrioseaship.png') left no-repeat;
  background-size: contain;
  height: 64px;
  font-size: 24px;
  padding-top: 2px;
  color: white;
}

.App-header .logo {
    padding: 5px 20px 0px 70px;
    display: block;
}

.App-header .logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-header .alpha {
  background: white;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #488AC7;
}

.App-header .desc {
  font-size: 14px;
  display: block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
