.App {
  overflow: hidden;
  font-family: Muli,sans-serif;
  width: 100%;
  bottom: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #488AC7 url('/finalicon.svg') left no-repeat;
  background-size: contain;
  height: 64px;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-header .logo {
    padding: 5px 20px 0px 90px;
    display: inline-block;
}

.App-header .logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-header .alpha {
  background: white;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #488AC7;
}

.App-header .desc {
  font-size: 14px;
  display: block;
}

.App-header .Nav-right {
  align-self: center;
  padding: 0px 10px 0px 70px;
  display: inline-flex;
  list-style: none;
}

.App-header .Nav-right li a {
  padding: 19px 12px;
  display: inline-block;
  float: left;
  font-size: 20px;
  float: left;
}

.App-header .Nav-right li a {
  color: #FFF;
  text-decoration: none;
}

.App-header .Nav-right li:hover {
  color: #FFF;
  text-decoration: none;
  background: rgba(255,255,255,0.1);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Generic Styles */
.right {
  float: right;
}
.left {
  float: left;
}

a {
  color: #488AC7;
}

.btn {
  padding: 4px 8px;
  transition: all .1s ease;
  box-shadow: inset 0 1px 0 rgba(248,249,250,.0125), 0 1px 1px rgba(33,37,41,.05);
  border-color: rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 1px 1px 3px 1px;
  font-size: 14px;
  display: inline-block;
  line-height: initial;
  align-self: center;
  text-decoration: none;
}

.btn:hover {
  border-width: 1px 1px 1px 1px;
}

.bg-red {
  background-color: #fa5252;
}

.bg-blue {
  background-color: #42a5f5;
}

.bg-green {
  background-color: #9ccc65;
}

.text-white {
  color: #FFF;
}