.item-listing {
  position: absolute;
  left: 0;
  top: 64px;
  bottom: 64px;
  width: 25%;
  min-width: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  z-index: 2;
}

.item-listing-header {
  font-size: 18px;
  line-height: 36px;
  min-height: 36px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  color: #3F3F3F;
}

.item-listing-header input[type=search] {
  font-size: 16px;
  align-self: center;
}

.item-listing-content {
  display: flex;
  flex-grow: 1;
}

.item-listing-categories {
  flex: 1;
  border-right: 1px solid rgba(0,0,0,0.2);
  max-height: 100%;
  overflow: auto;
}

.item-listing-categories ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.item-listing-categories ul .category {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  border-top: 1px solid rgba(0,0,0,0.4);
  padding: 10px 10px;
  display: block;
  font-weight: bold;
  background: #488AC7;
  color: white;
}

.item-listing-categories .active, .item-listing-categories ul .category.active {
  font-weight: 600;
}

.item-listing-categories ul ul li {
  padding: 10px 15px;
  display: block;
}

.item-listing-categories ul ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.item-listing-icons {
  flex: 1;
  max-height: 100%;
  overflow: auto;
  padding: 6px 0 0 6px;
}

.item-img-container {
  display: inline-block;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  overflow: hidden;
}

.item-img-container img {
  max-width: 32px;
  max-height: 32px;
  overflow: hidden;
}