.character-properties {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #488AC7;
  display: flex;
  padding: 0 16px;
  color: white;
  font-size: 16px;
  align-items: center;
}

.character-properties > span {
  height: 24px;
  font-size: 24px;
  margin: 0 64px 0 0;
}

.character-properties a {
  color: white;
}

.facial-expression, .action, .disclaimer {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.facial-expression, .action {
  width: 200px;
}

.disclaimer {
  display: inline-block;
}